@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  /* margin: 0; */
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

/* Sidebar */
.maincontain {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 83px);
}

#container p {
  margin-left: 27px;
  margin-top: 96px;
}
/* Form */
#container {
  margin-left: 269px;
  flex: 1;
}
.form-create {
  display: flex;
  gap: 22px;
  margin-left: 120px;
  margin-top: 57px;
}
.form {
  display: flex;
  /* align-items: center; */
}
/* Form */
#container {
  flex: 1;
}

.form-create {
  display: flex;
  gap: 22px;
  margin-left: 120px;
  margin-top: 51px;
}

.form {
  display: flex;
}

.form label {
  min-width: 119px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 12px;
}

.form span {
  color: red;
}

.form input {
  width: 480px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  background: #cccccc80;
  box-sizing: border-box;
  padding: 5px 16px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
}

.form input::placeholder {
  padding-left: 5px;
  color: #999;
}

/* Textarea */
.form textarea {
  width: 480px;
  height: 94px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background: #cccccc80;
  resize: none;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  transition: border-color 0.3s ease;
  margin-bottom: 22px;
}

.form textarea:focus {
  outline: none;
  border-color: #005bb5;
  box-shadow: 0 0 5px rgba(0, 126, 198, 0.5);
}

/* Dropdown-list */
select {
  width: 240px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  padding: 0 30px 0 10px;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background-image: url("../uploads/img/Chevron down.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px 12px;
}

select::-ms-expand {
  display: none;
}

select option {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  padding: 5px 16px;
}

select:focus {
  outline: none;
  border-color: #005bb5;
  box-shadow: 0 0 5px rgba(0, 126, 198, 0.5);
}

select:disabled {
  background-image: url("../uploads/img/Chevron down.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px 12px;
}

/* Datetime */
#datetimepicker,
#datetimepicker2 {
  width: 189px;
  height: 40px;
  border-radius: 4px;
  padding: 5px 16px;
  border: 1px solid #cccccc;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  background: #cccccc80;
  background-image: url("../uploads/img/Vector.png");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 16px 16px;
  cursor: pointer;
}

#datetimepicker:focus,
#datetimepicker2:focus {
  outline: none;
  border-color: #005bb5;
  box-shadow: 0 0 5px rgba(0, 126, 198, 0.5);
}

#datetimepicker::-webkit-calendar-picker-indicator,
#datetimepicker2::-webkit-calendar-picker-indicator {
  display: none;
}

#datetimepicker:disabled,
#datetimepicker2:disabled {
  background-image: url("../uploads/img/Vector.png");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 16px 16px;
}

/* File Upload Section */
.file-upload-section {
  position: relative;
  display: flex;
  align-items: center;
}

.custom-file-input {
  display: none;
}

.custom-file-label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 189px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  background: #cccccc80;
  padding: 0 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.custom-file-label .upload-icon {
  width: 24px;
  height: 24px;
  background-image: url("../uploads/img/material-symbols_upload.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
}

.custom-file-label:hover {
  border-color: #005bb5;
}

.file-display {
  display: none;
  align-items: center;
  gap: 8px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  color: #1d1b20;
}

.file-name {
  flex: 1;
}

.remove-file {
  background: none;
  border: none;
  color: #ff0000;
  font-size: 14px;
  cursor: pointer;
  padding: 0;
}

/* Button Action */
.button-action {
  display: flex;
  gap: 33px;
  margin-top: 30px;
}

.button-action button {
  width: 220px;
  height: 50px;
  border-radius: 4px;
  border-width: 1px;
  gap: 4px;
  padding: 4px 24px 4px 24px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.button-action button:hover {
  cursor: pointer;
}

/* Modal
dialog {
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  padding: 0;
  background: #fff;
  border-width: 100px;
}

.dialog-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: center;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #007ec6;
  color: #ffffff;
  padding: 10px 15px;
  height: 74px;
  font-size: 24px;
  font-weight: 500;
}

#confirm-form {
  width: 614px;
}

.dialog-header img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

dialog form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
}

dialog form label {
  width: 381px;
  height: 29px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

dialog form button {
  width: 220px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background: #007ec6;
  color: #ffffff;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin-top: 22px;
  margin-bottom: 22px;
}

dialog form button:hover {
  background: #005bb5;
}
dialog form .modal-buttons {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

dialog form button:last-child {
  background: #e2005c;
}

dialog form button:last-child:hover {
  background: #c70039;
}
.modal-buttons-ok {
  background: #005bb5 !important;
}
dialog input {
  width: 540px;
  height: 76px;
  border-radius: 4px;
  border-width: 1px;
  border: 1px solid #cccccc;
  background: #ffffff80;
  padding: 15px;
  font-size: 35px;
}
.show-dialog {
  display: flex;
  justify-content: center;
} */
/* Disabled state */
input:disabled,
select:disabled,
textarea:disabled {
  background-color: #cccccc80;
  color: #1e1e1e;
  font-weight: 400;
  cursor: not-allowed;
  border: 1px solid #cccccc;
}
